h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

.center-wrapper{
    justify-content: center;
    text-align: center;
    margin: 4rem 20%;
    width: auto;
}

.danger:hover{
    cursor: pointer;
}
.action_button{
  
  
}
.container{
    
}
.badge{
    margin-left: auto;
}
.action_button{
    margin: 1rem 1rem;
}